{% extends '::base.html.twig' %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-6">
<h1>Hourly invoice downloads</h1>
<table>
  <tr>
    <th>Invoice Date</th>
    <th>Download Invoice</th>
  </tr>
  <tr>
    <td>2016-12-09</td>
    <td><i fa fa-pdf fa-fw></i><a href="/hourly/download?date=2016-12-09" target="blank">download invoice</a></td>
  </tr>
</table>
</div>
</div>
</div>
{% endblock %}
