{% extends '::base.html.twig' %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-6">
<h1>Hourly invoice</h1>
<form ng-controller="InvoiceController" id="invoiceForm" name="invoiceForm" method="post">
  <div class="form-group">
    <label for="billTo">Bill To:</label>
    <input type="text" id="billTo" name="billTo" ng-model="invoiceData.billTo" class="form-control" aria-describedby="billTo" placeholder="Enter bill to">
    <p class="help-block help-block-error" style="color: red;">[[billToError]]</p>
  </div>
  <div class="form-group">
    <label for="description">Developer:</label>
    <input type="text" id="developer"  name="developer" ng-model="invoiceData.developer" class="form-control" aria-describedby="developer" placeholder="Enter developer name">
    <p class="help-block help-block-error" style="color: red;">[[developerError]]</p>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" id="description"  name="description" ng-model="invoiceData.description" class="form-control" aria-describedby="description" placeholder="Enter description">
    <p class="help-block help-block-error" style="color: red;">[[descriptionError]]</p>
  </div>
  <div class="form-group">
    <label for="hourlyPrice">Hourly Price:</label>
    <input type="text" id="hourlyPrice" name="hourlyPrice" ng-model="invoiceData.hourlyPrice" class="form-control" aria-describedby="hourlyPrice" placeholder="Enter hourly price">
    <p class="help-block help-block-error" style="color: red;">[[hourlyPriceError]]</p>
  </div>
  <div class="form-group">
    <label for="hours">Hours:</label>
    <input type="text" id="hours" name="hours" ng-model="invoiceData.hours" class="form-control" aria-describedby="hourls" placeholder="Enter hours">
    <p class="help-block help-block-error" style="color: red;">[[hoursError]]</p>
  </div>
    [[errors]]
  <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="invoice-submit" id="invoice-submit" tabindex="4" class="form-control btn btn-primary" value="Submit Invoice" ng-click="invoice(invoiceData)">
            </div>
        </div>
    </div>
    <p>[[success]]</p>
</form>
</div>
</div>
</div>
{% endblock %}
